DEBUG=True
SECRET_KEY=sua-chave-secreta-de-desenvolvimento
ALLOWED_HOSTS=localhost,127.0.0.1

# Banco de Dados
DB_ENGINE=django.db.backends.postgresql
DB_NAME=orcafacil_db
DB_USER=orcafacil_user
DB_PASSWORD=orcafacil_pass
DB_HOST=db
DB_PORT=5432